/* main file for css, pertaining to the index.html file, allowing for values of padding, text, color, etc. to be modified and styled respectively*/
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0px;
  height: 8px;
  border-color: #273469;
  background-color: rgba(4, 59, 92, 0.6);
}
body {
	background-image: url("space.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  color: white;
}
#banana {
  text-align: center;
}
a {
	background-position: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 69px;
	padding-right: 69px;
	background-color: #fdfdfd5e;
	text-align: center;
	align-self: center;
	display: block;
    margin: auto;
    font-weight: bold;
}

ul {
  box-sizing: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
/*   background-color: rgba(255, 255, 255, 0.116); */
}

h3 {
  float: left;
  font-family: 'Comfortaa';
}
h3 a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  box-shadow: 5px solid rgba(0, 0, 0, 0.500);
  font-size: 20px;
}
h3 a:hover {
  background-color: rgba(163, 203, 240, 0.11);
  color: rgba(20, 239, 255, 1);
}
p {
  font-family: 'Comfortaa';
  font-size: 16px;
  text-align: left;
  background-color: rgba(36, 37, 50, 0.3);
  color:white;
}
h1 {
  font-family: 'comfortaa';
  font-weight: bold;
  color:white;
}
#logo {
  font-weight: bold;
  font-size: 20.69;
}
#user {
  width: 50%;
  height: 60px;
}

#row1 {
  background: rgb(160, 160, 248);
}
#imagerow1 {
  opacity: 0.5;
}
a{
  font-family: 'comfortaa';
  font-size: 14px;
  text-align: center;
  background-color: #38333328;
}
footer{
  background-color: #38333328;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
h4 {
  text-align: center;
  margin-left: 42.69px;
  margin-right: 42.69px;
  font-size: 18px;
  font-family: 'comfortaa';
  color:white;
  background-color: rgba(140, 20, 252, 0.3); /*purple*/
}
label {
  font-family: "comfortaa";
}
#banana {
  background-color: rgba(245, 135, 0, 0.15);
  background-size: 100%;
}
h5 {
  text-align: center;
  margin-left: 42.69px;
  margin-right: 42.69px;
  font-size: 18px;
  font-family: 'comfortaa';
}
title {
  background-color: rgba(246, 102, 19, 0.45);
}
depression {
  background-color: rgba(160, 160, 248, 0.4);
}
